<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Hello</title>
	</head>
	<body>
		<center>
			<div id = "registration">
				<div>
						We need to check you!
				</div>
				{% if error %}
					<div style="color: red">
						{{ error }}
					</div>
				{% endif %}
				<div>
					<form action="{{root}}sign_in/" method = "post">
					<input type="email" name="email" placeholder="email"/><br>
						<input type="password" name="password" placeholder="secret word"/><br>
						<button value = "666" type="submit"> 
							Remember me!
						</button>
					</form>
				</div>				
			</div>
		</center>
	</body>
</html>